body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    padding: 0px;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}

p {
    line-height: 1.6em;
}

header {
    background: rgba(78,192,254,1);
    background: -moz-linear-gradient(left, rgba(78,192,254,1) 0%, rgba(55,144,217,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(78,192,254,1)), color-stop(100%, rgba(55,144,217,1)));
    background: -webkit-linear-gradient(left, rgba(78,192,254,1) 0%, rgba(55,144,217,1) 100%);
    background: -o-linear-gradient(left, rgba(78,192,254,1) 0%, rgba(55,144,217,1) 100%);
    background: -ms-linear-gradient(left, rgba(78,192,254,1) 0%, rgba(55,144,217,1) 100%);
    background: linear-gradient(to right, rgba(78,192,254,1) 0%, rgba(55,144,217,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ec0fe', endColorstr='#3790d9', GradientType=1 );
    color: #fff;
    height: 825px;
}

.container {
    width: 1170px;
    margin: auto;
}


.wrapper {
    display: flex;
    justify-content: space-between;
}

.logo {
    padding-top: 62px;
}

.travel {
    

}

.offer {
    margin-top: 155px;
    width: 585px;
}

.title {
    font-size: 37px;
}

.title span {
    font-size: 59px;
}

.intro {
    margin-top: 48px;
    width: 414px;
    margin-bottom: 45px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.btn {
    font-family: 'Montserrat', sans-serif;
    background-color: #ffd429;
    color: black;
    display: block;
    width: 222px;
    padding: 23px 0px;
    text-align: center;
    text-decoration: none;
    margin-top: 45px;
    font-weight: 900;
}

.learn {
    height: 500px;
    width: 1170px;
    margin: auto;
    
}

.h2 {
    padding-top: 110px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.h3 {
    font-size: 19px;
}

.block1, .block2, .block3 {
    width: 300px;
    
    padding-bottom: 125px;
}

.block1 img, .block2 img, .block3 img {
    margin-bottom: 30px;
}

.blocks {
    margin-top: 81px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    
    margin-bottom: 125px;
}

.quotes {
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400px;
}

.mail {
    height: 600px;
    background: #ecf3f8;
}
.h-mail {
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    text-align: center;
    padding-top: 103px;
    margin-bottom: 65px;
}

.form {
    text-align: center;
}

.input {
    width: 342px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    padding-left: 24px;
    margin: auto;
    margin-bottom: 15px;
}

#btn {
    margin: auto;
    width: 344px;
    border: 0px;
}

.footer {
    height: 140px;
    background: #164d7a;
}

.h5 {
    padding-top: 61px;
    text-align: center;
    margin: auto;
    width: 1171px;
    color: #fff;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}